#screen
  h1.appName
    span {{ selectedWords.name }}

    span {{ correctAnsw }}/{{ round }}
    span {{ (correctAnsw * 100) / round || 0 | round 2 }}%
    
    button(@click='resetScore') reset

  #question
    ul
      li(v-for='word in words')
        .answer(v-show='word.user.length')
          span {{ word.name }}

          span(
            v-for='answer in word.answers'
            v-show='word.user.length > $index'
            v-bind:style="{ color: escape(answer) == word.user[$index] ? '#2da' : '#c22' }"
            ) 
            {{ answer }} {{ answer !== word.user[$index] ? '|| ' + word.user[$index] : '' }}

        span(v-else) {{ word.name }}

  input(v-model='answer' placeholder='odpowiedź' @keydown.enter='show')
