@import "~flexstyl/flex"

#screen
  background #fff
  width 50em
  display flex
  flex-flow column
  box-shadow 0 .25em .3em rgba(0,0,0,.25)

  .appName
    display flex
    justify-content space-between
    background #2da
    padding .25em
    color #fff
    margin 0

  #question
    padding .75em 2em
    ul
      list-style-type none
      padding 0
      overflow-y scroll
      max-height 55vh
      padding .5em 0

      & li
        padding .5em .25em

        &:first-child
          text-align center
          font-weight 600
          font-size 2em

        .answer
          flex styl
          justify around

  input
    border 0
    outline none
    height 2.25em
    background #2da
    padding .2em .1em
    text-align center
    color #efefef
    font-size 1.2em
